<%= render 'shared/errors', object: @event %>
<h3>RSVP For <%= @event["event"]["name"] %></h3>
<%= form_tag html: { multipart: true } do |f| %>
  <ul style="list-style-type:none">
    <li><%= label_tag(:email, "Email") %></li>
    <li><%= text_field_tag(:email, "email") %></li>
    <%= hidden_field_tag(:site_slug, params["site_slug"]) %>
    <%= hidden_field_tag(:nation_slug, params["nation_slug"]) %>
    <%= hidden_field_tag(:token, params["token"]) %>
    <%= submit_tag "Submit RSVP" %>
  </ul>
<% end %>