<%= render 'shared/errors', object: @token %>
<h2>Editing Token</h2>
<%= form_for @token, url: {action: "update", token_id: @token} do |f| %>
  <ol style="list-style-type:none">
    <li><%= f.label :nation_slug %><br/><%= @token.nation_slug %></li>
    <li><%= f.label :site_slug %><br/><%= f.text_area :site_slug %></li>
    <li><%= f.label :api_token %><br/><%= @token.api_token %></li>
    <li><%= f.label :note %><br/><%= f.text_area :note %></li>
    <%= f.submit "Update" %> <%= button_to("Cancel", user_nation_api_tokens_path) %>
  </ol>
<% end %>