<h2>API Tokens</h2>
<% @tokens.each do |token| %>
  <ol style="list-style-type:none">
    <li>Nation Slug: <%= token.nation_slug %></li>
    <li>Site Slug: <%= token.site_slug %></li>
    <li>Api Token: <%= token.api_token %></li>
    <li>Note: <%= token.note %></li>
  </ol>
  <%= link_to("View Token", show_token_path(id: token.id)) %> | <%= link_to("Edit Token", edit_user_nation_api_tokens_path(token_id: token)) %> |
   <%= link_to 'Delete Token', user_nation_api_tokens_path(token_id: token), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %> | <%= link_to("View Events", user_events_path(nation_slug: token.nation_slug, token: token.api_token, site_slug: token.site_slug)) %> | <%= link_to("New Event", new_user_event_path(nation_slug: token.nation_slug, token: token.api_token, site_slug: token.site_slug)) %> | <%= link_to("View Signups", user_signups_path(token: token.api_token, nation_slug: token.nation_slug, page: 1)) %> | <%= link_to("New Signup", new_user_signup_path(@current_user, nation_slug: token.nation_slug, token: token.api_token)) %>
<% end %>