<header id="page-header">
  <nav class="navbar-right navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav nav-tabs">
        <li role="presentation"><%= link_to 'Home', root_path %></li>
        <% if @user.nil? %>
          <li role="presentation"><%= link_to 'Log In', new_user_session_path %></li>
        <% elsif @user && @user.id != nil %>
          <li role="presentation"><%= link_to 'My API Tokens', user_nation_api_tokens_path(@user) %></h2></li>
          <li role="presentation"><%= link_to 'New API Token', new_user_nation_api_tokens_path(@user) %>
          <li role="presentation"><%= link_to 'Logout', destroy_user_session_url, method: :delete %></h2></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
